.field{
  margin: 0px;
  height: 20px;
  width: 20px;
}

.enemy-unknown-hasShip{
  background-color: blue;
  background-image: url("./questionMark.jpg");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.own-unknown-hasShip{
  background-image: url("./x.jpg"); 
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.own-discovered-hasShip, .enemy-discovered-hasShip{
  background-image: url("./red_x.jpg"); 
  background-repeat: no-repeat;
  background-size: 20px;
}

.own-discovered-empty, .enemy-discovered-empty{
  background-color:blue;
  background-size: 20px;
}

.own-unknown-empty, .enemy-unknown-empty, .own-unknown-hasShip {
  background-color: gray;
  background-size: 20px;
}